
<div class="pagination pagination-top">
    1-<%=
      if @events.current_page*@events.per_page > @events.total_entries
	  @events.total_entries
      else 
	  @events.current_page*@events.per_page 
      end
      %> of <%= @events.total_entries %> Items  
    <% if @events.next_page %>
	| <%= link_to "View All", params.merge(:view => 'all', :page => 1).permit! %>
    <% end %>
</div>

<% if @page %>
    <div class="sub-nav-container events-sub-nav">
	<div class="container">
	    <ul class="nav justify-content-end">
		<% if @past_events %>
		    <li class="nav-item">
			<a class="nav-link" href="/events">View Upcoming Events</a>
		    </li>
		<% else %>
		    <li class="nav-item">
			<a class="nav-link" href="/events?past=true">View Past Events</a>
		    </li>
		<% end %>   
	    </ul>
	</div>
    </div>
<% end %>

<% events.each do |event| %>

    <% if params[:past] %>
	<% date = event.prev_date %>
    <% else %>
	<% date = event.next_date %>
    <% end %>

    <div class="event-blog-row">
	<div class="container">
	    <a href="events/<%= date.event.slug %>">
		<div class="row">
		    <div class="col-xl-8 order-xl-last col-lg-8 order-lg-last col-md-12 col-sm-12 col-12">
			<h3><%= date.event.name %></h3>
		    </div>
		    <div class="col-xl-4 order-xl-first col-lg-4 order-lg-first col-md-12 col-sm-12 col-12">
			<h3><%= show_date(date) %></h3>
			<p class="small-caps date"><%= show_label(date) %></p>
		    </div>

		</div>
	    </a>
	</div>

    </div>

<% end %>



<div class="bottom-event-blog-row">
    <div class="container more-top">
	<div class="row">
	    <div class="col-xl-12">

		<% if @events.next_page %>
		    <span id="more">
			<%= render 'show_more',  :events => @events  %>
		    </span>
		<% end %>
		<a class="to-top" href="#top">To Top</a>
	    </div>
	</div>
    </div>
</div>

