<% if (page.snippet) && page.name != 'Resources'   %>

    <div class="hero <% if page.slug == 'homepage' %> home-hero <% end %>">
	<div class="container">
	    <div class="row">
		<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
		    <h1><%= page.name %></h1>
		    <p><%= page.snippet %></p>
		</div>
	    </div>
            <div class="row">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		    <% if Page.orientation.include?(page) || page.home? %>
			<ul class="list-inline" id="orientation">
			    <%= render 'pages/orientation_menu', :page => page %>
			</ul>
		    <% end %>
		    <% if Page.fellows.include?(page) %>
			<ul class="list-inline">
			    <%= render 'pages/fellows_menu', :page => page %>
			</ul>
		    <% end %>
		    <% if Page.contribute.include?(page) %>
			<ul class="list-inline">
			    <%= render 'pages/contribute_menu', :page => page %>
			</ul>
		    <% end %>

		</div>

	    </div>
	</div>
    </div>

<% end %>

