<%= render 'pages/page',  :page => @page  unless @page.name.match("About") %>

<% if @page.name == 'Communities' %>
    <% Community.all.each do |community| %>
	<h2><%= link_to community.name, community %></h2>
    <% end %>
<% elsif @page.name == "Questions About Contributing to Better Scientific Software?" %>
    <%= render 'contributes/new' %>
<% elsif @page.name.match("About") %>
    <style>
     .page-content {
	 padding-bottom: 8px;
     }
    </style>
    <div class="limiter">
	<div class="container">

	    <% Staff.displayed.order('title desc').group_by(&:section).each do |section, staff| %>
		<h3 class="mb-3"><%= section %></h3>
		<div class="row">
		    <% staff.each do |author| %>
			<%= render 'resources/author', :author => author %>
		    <% end %>
		</div>

	</div>
	    <% end  %>
	    <%= render 'pages/page',  :page => @page  %>
<% elsif @page.name == 'Meet Our Fellows' %>
	    <style>
	     .page-content {
		 padding-top: 0;
		 v	 }
	    </style>
	    <div class="limiter">
		<% Fellow.displayed.order('year desc, honorable_mention asc').group_by(&:year).each do |year, fellows| %>
		    <% unless year.blank? %>
			<div class="class-year">
			    <div class="container">
				<div class="row">
				    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<h2><%= year %> Class</h2>
				    </div>
				</div>
				<% fellows.group_by(&:honorable_mention).each do |hm, fellows_group| %>

				    <div class="row">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					    <h3 class="mb-2"><%= hm ? 'Honorable Mentions' : 'Fellows' %></h3>
					</div>
				    </div>
				    <div class="row">
					<% fellows_group.sort_by(&:last_name).each do |fellow| %>
					    <div class='col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12'>
						<div class="author-col">
						    <% if fellow.image_path %>
							<div class="author-photo" style="background:url('<%= cl_image_path(fellow.modified_path,
															   :type => :fetch, :width => 350, :height => 350, :invalidate => true, :cloud_name => 'bssw') %>') no-repeat center center;">
							    
							</div>
						    <% end %>
						    <% if fellow.honorable_mention %>
							<h3><%= fellow.name %></h3>
						    <% else %>
							<h3><%= link_to fellow.name, fellow %></h3>
						    <% end %>
						    <% if fellow.affiliation %>
							<p><strong><%= fellow.affiliation %></strong></p>
						    <% end %>
						    <p><%= fellow.short_bio %></p>
						</div>
					    </div>
					<% end %>
				    </div>
				<% end %>
			    </div>
			</div>
		    <% end %>
		<% end %>
		<div class='class-year'>
		    <div class="container page-content">
			<div class='row'>
			    <div class='col-md-9'>
				<p>		    <strong>The BSSw Fellowship is sponsored by the U.S. Department of Energy and National Science Foundation.</strong>
				</p>
			    </div>
			    <div class='fellow'>

				<div class='col'>

				    <div class="img_div">
					<img src="https://res.cloudinary.com/bssw/image/fetch/w_200,h_200,c_fit/https://github.com/betterscientificsoftware/images/raw/master/Logo_DOE_Unofficial_Sm.png" class="logo"> 
				    </div>  

				    <div class="img_div">
					<img src="https://res.cloudinary.com/bssw/image/fetch/w_200,h_200,c_fit/https://github.com/betterscientificsoftware/images/raw/master/Logo_NSF_4ColorB_Sm.png" class="logo"> 
				    </div>  

				</div>
			    </div>
			</div>
		    </div>
		</div>

		

<% elsif @page.home? %>

		<div class="featured bg-white">
		    <div class="container featured-container">
			<div class="owl-carousel owl-theme">
			    <% FeaturedPost.displayed.each_with_index do |item, index| %>

				<% if index % 2 == 0 %>
				    <div class="row">
					<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
					    <h3>Featured</h3>
					</div>
				<% end %>
				<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
				    <% if item.image? %>
					<%= item.image %>
				    <% elsif item.site_item %>
					<div class="featured-inner">
					    <h3>
						<%= link_to item.site_item.name, site_item_path(item.site_item) %>
					    </h3>
					    <p><% if item.site_item.is_a?(Event)  %>
						Event
					    <% elsif item.site_item.is_a?(BlogPost) %>
						Blog Post
					    <% else %>
						Resource
					    <% end %>
					    </p>
					</div>
				    <% end %>
				</div>
				<% if index % 2 == 1 %>
				    </div><!-- /row -->
				<% end %>
			    <% end %>
			</div>
		    </div>
		</div>
		<div class="tools bg-white">
		    <div class="container tools-container">
			<div class="row tools-row">
			    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
				<h2>Resources for Developer Productivity and Software Sustainability</h2>
			    </div>
			    <div class="col-xl-4 offset-xl-2 col-lg-4 offset-lg-2 col-md-12 col-sm-12 col-12">
				<img src="/assets/diagram.png" alt="Diagram" class="img-fluid" />
			    </div>
			</div>


			<% Category.displayed.each_with_index do |category, index|
			cat = category.name.split(' ') %>
			<div class="row tool-row">
			    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
				<div class="tool-link">
				    <div class="circle">
					<i class="fas fa-angle-right"></i>
				    </div>
				    <h3><%= link_to cat.first, site_items_path(:category => category.to_param) %></h3>
				    <h2><%= link_to cat.last, site_items_path(:category => category.to_param)  %></h2>
				    <div class="tool-content"><%= category.homepage.try(:html_safe) %></div>
				</div>
			    </div>
			    <div class="col-xl-4 offset-xl-1 col-lg-4 offset-lg-1 col-md-12 col-sm-12 col-12">
				<ul class="caret-list">
				    <% category.topics.each_with_index do |topic| %>
					<li><%= link_to topic.name, site_items_path(:topic => topic.to_param) %></li>
				    <% end %>
				</ul>
			    </div>
			</div>
<% end %>

<div class="row tool-row tool-row-last">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
	<a href="/items?page=1&view=all" class="circle-icon-cta"><span class="circle circle-white"><i class="fas fa-angle-right"></i></span>View All Resources</a>
    </div>
</div>

		    </div>
		</div>
	    </div>

<% end %>
