<%= render 'pages/page',  :page => @page  %>

<% if @page.name == 'Communities' %>
    <% Community.all.each do |community| %>
	<h2><%= link_to community.name, community %></h2>
    <% end %>
<% elsif @page.name == "Questions About Contributing to Better Scientific Software?" %>
    <%= render 'contributes/new' %>
<% elsif @page.name == 'Meet Our Fellows' %>
    <%= render 'pages/fellows' %>
<% elsif @page.home? %>
    <%= render 'pages/home' %>

<% end %>
