<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
    <div class='author-col'>

	<% if author.avatar_url %>
	    <%= cl_image_tag(author.avatar_url,
			     :type => :fetch, :invalidate => true, :cloud_name => 'bssw', class: 'fellows-photo') %>
	<% else %>
	    <img src="https://raw.githubusercontent.com/betterscientificsoftware/bssw.io/main/images/People_BSSwContributor.png" class="fellows-photo" />

	<% end %>


	<h3>
	  <% if author.respond_to?(:slug) %>
	    <%= link_to "#{author.first_name} #{author.last_name}", site_items_path(:author => author.slug) %>
	  <% else %>
	    <%= author.first_name %> <%= author.last_name %>
	  <% end %>
	</h3>
	<p>
	    <% if author.title && @page && @page.try(:name) == 'Team' %>
		<strong><%= author.title %></strong>
	    <% elsif defined?(section) && @page && @page.try(:name) == 'Team' %>
		<strong><%= section.singularize %></strong>
	    <% end %>
	</p>
	<% if author.affiliation && @page && @page.try(:name) == 'Team' %>
	    <p class='affiliation'><%= author.affiliation %></p>
	<% end %>


    </div>
</div>
