<div class='row breadcrumbs-row -smallcaps'>
  <div class='container'>


    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>

      <% if resource.is_a?(Event) %>
	<li><%= link_to 'Events', events_path %></li>
	<% elsif resource.is_a?(Community) %>
	<li>Communities</li>
      <% elsif resource.is_a?(BlogPost) %>
	<li><%= link_to 'Blog', blog_posts_path %></li>
	<li><%= resource.published_at.try(:year) %></li>
      <% else %>
	<li><%= link_to 'Resources', resources_path %></li>
      <% end %>
      <li><%= resource.name %></li>
    </ol>



  </div><!-- /.row -->
</div><!-- /.container -->
