<div>


    <div class="pagination pagination-top col-md-12">
      <%= render :partial => '/layouts/pagination' %>
    </div>
</div>

<div class="resources">
  <% @num = 0 %>
  
  <% @resources.each do |resource| %>
    <% if controller.action_name == 'search' %>

	<%= render 'search_result', result: resource %>

    <% elsif @author %>
      <%= render 'author_listing', :resource => resource  %>
    <% else %>
      <%= render 'listing', :resource => resource  %>
    <% end %>
  <% end %>
</div>
<div>
    <div class="pagination pagination-bottom col-md-12">
      <%= render :partial => '/layouts/pagination' %>
    </div>
</div>
