

<div class='container'>
  <div class='row'>
    <div class="pagination pagination-top col-md-12">
      <%= render :partial => '/layouts/pagination' %>
    </div>
  </div>
</div>

<div class="resources">
  <% resources.each do |resource| %>
    <% if @author %>
      <%= render 'author_listing', :resource => resource  %>
    <% else %>
      <%= render 'listing', :resource => resource  %>
    <% end %>
  <% end %>
  <div class='container'>
    <div class='row'>

      <div class="pagination pagination-bottom col-md-12">

	<%= render :partial => '/layouts/pagination' %>
      </div>
    </div>
  </div>
  <div class='container'>
    <div class='row'>
      <div class="posts-list to-top-after-load">
	
	<% if @resources.next_page %>
	  <%= render 'show_more' %>
	<% end %>
	<div class='col-3'>
	<a class="to-top" href="#top">To Top</a>
	</div>
      </div>
    </div>
  </div>
</div>

  <style>
    .to-top-after-load {
    display:block;
    }
  </style>


