<div class="event-blog-row search-row">
    <div class="container">

 <div class="row">
	    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

		<a href="<%= search_result_url(result) %>"> 

		    <div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

			    <h3><% name = highlight((result.name), @search) %>
				<%= name.blank? ? result.name : name %>
			    </h3>
			</div>
		    </div>
		    <div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			    <p class="search-results-content">
				<% if result.is_a?(SiteItem) %>
				    <p class='small-caps'><%= highlight(author_list_without_links(result), @search) %></p>
				<% end %>

				<% [:location, :organizers].each do |facet| %>
				    <% if result.respond_to?(facet) && !(result.try(facet).blank?) %>
					<p class='small-caps'><strong><%= facet %></strong>
					    <%=  highlight((result.try(facet)), @search) %>
					</p>
				    <% end %>

				<% end %>


				<p class='search-results-content'>


				    <% if result.respond_to?('content') || result.respond_to?('long_bio')%>

<%					    if result.respond_to?('content')
str = ActionController::Base.helpers.strip_tags(result.content)
					    else
						str = ActionController::Base.helpers.strip_tags(result.long_bio)

					    end
					%>


					    <%= highlight((excerpt(str, @search)), @search) %>

				    <% end %>
				</p>
				<p class="topics small-caps">
				    <strong>Type of Item</strong>
				    <% if result.is_a?(Event)  %>
					Event
				    <% elsif result.is_a?(BlogPost) %>
					Blog Post
				    <% elsif result.is_a?(Fellow) %>
					Fellow <%= result.honorable_mention %>
				    <% elsif result.is_a?(Author) %>
					Author
				    <% elsif result.is_a?(SiteItem) %>
				      Resource
				    <% end %>
				</p>

			    <p class='topics small-caps'
			       >
			      <strong>Published</strong>
			      <%= result.try(:published_at).try(:strftime, '%F') %>
			    </p>

			</div>
		    </div>

		</a>
	    </div>
	</div>		

    </div>
</div>

