
<% if controller.action_name == 'search' %>
    <%= render :partial => 'search_hero' %>



<% elsif @author %>
    <%= render :partial => 'author_hero' %>
<% else %>

    <div class="main <% if !@category && !@topic && controller.action_name != 'search' %>all_resources_page<% end %>" >
	<div class="container">
	    <div class="row">
		<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
		    <div class="page-heading all"> 
			<div class="breadcrumbs">
			    <ul>
				<li><a href="/">Home</a></li>
				<li><%= link_to 'Resources', site_items_path %></li>

			    </ul>
			</div>

			<%= render :partial => 'pages/page', :locals =>
			{:page => Page.find_by_name('Resources')} %>
			
<% end %>


<% if @topic %>
    <h1><%= @topic.name %></h1>
    <%= @topic.overview.try(:html_safe) %>
<% elsif @category  %>
    <h1><%= @category.name %></h1>
    <%= @category.overview.try(:html_safe) %>
<% elsif controller.action_name != 'search' && !(@author)%>
    <h1 class="all_resources">All Resources</h1>
<% end %>


<div id='resources' <% if params[:author] || params[:search_string] %>class='container'<% end %>>
    <%= render 'resources', :resources => @resources, :results => (@search? @results : nil), cached: true %>
</div>

		    </div>
		</div>
		<%if controller.action_name === 'search' %>
		    <div class="posts-list to-top-after-load">
			<div class="container">
			    <div class="row">
				<div class="col-xl-12 col-lg-12 col-nd-12 col-sm-12 col-12">
				    <a class="to-top" href="#top">To Top</a>
				</div>
			    </div>
			</div>
		    </div>
		<% end %>


	    <% if controller.action_name != 'search' && !(@author)%>
		<%= render :partial => '/layouts/sidebar' %>
	</div>
    </div>

	    <% end %>


