  <div class="container">
    <div class="row">

<% if params[:view] == 'all' %>
  1-<%= @resources.total_entries %> of <%= @resources.total_entries %> Items
<% else %>

1-<%=
if @resources.current_page*@resources.per_page > @resources.total_entries
	@resources.total_entries
else 
	@resources.current_page*@resources.per_page 
end
%> of <%= @resources.total_entries %> Items  
    <% if @resources.next_page %>
    | <%= link_to "View All", params.merge(:view => 'all', :page => 1).permit! %>
    <% end %>


<% end %>
    </div>
</div>

<div class="posts-list to-top-after-load">
	<% if @resources.next_page %>
	  <%= render 'show_more' %>
	<% end %>

	<a class="to-top" href="#top">To Top</a>

</div>
